<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Train Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <h1><a src="localhost:8080/botlibre/index.jsp">Botlibre.com</a></h1>
    <hr/>
    <p></p>
    <!-- url_for('here is the upload method in the app.py
                                 it routes to it
                                and apply the method.') -->
    <!--form id="upload-form" action="{{ url_for('testAnalytic')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <input type="submit" value="Upload">

    </form-->
    
</body>
</html>